.form {
    position: relative;
}

.search {
    position: absolute;
    right: 25px;
    top: 25px;
}

.button {
    border: none;
    background: none
}

.searchbar{
    width: 100%;
    padding: 20px 24px;
    background-color: #CDCDCD;
    border: none;
    border-radius: 16px;
    outline-color: #A445ED;
    color: #2D2D2D;
    font-weight: bold;
    font-size: clamp(1rem, 0.376vw + 0.912rem, 1.25rem);
}
.searchbar:focus-within {
    background-color: #F4F4F4;
}